body {
  background-color: #FDF3E7;
  font-family: Helvetica;
}

table {
  border-collapse: collapse;
}

table, th, td {
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #558C89;
  text-align: left;
}

tbody {
  background-color: #74AFAD;
}

.tdUpdate, .tdCheck {
  text-align: center;
}

.complete {
  background-color: #D9853B;
  text-decoration: line-through;
}
