.inputArea {

}

.outputArea {

}

table {
  border-collapse: collapse;
  background-color: gray;
}

table, th, td {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
}

thead {
  text-align: left;
}

.tdCheck {
  text-align: center;
}

.complete {
  background-color: salmon;
  text-decoration: line-through;
}
